@using DeskUI.Services
@using Microsoft.JSInterop

@inject WindowManager WindowManager
@inject IJSRuntime JSRuntime

@if (Overlayed)
{
    <div class="overlay" style="z-index:@(ZIndex - 1);"></div>
}

<div id="@WindowId"
     class="window @Theme @(Docked ? "docked" : "")"
     style="@Style"
     @onmousedown="BringToFrontAsync">
    <div class="window-header" @onmousedown="StartDrag">
        <div class="window-title">@Title</div>
        @if (AllowClose)
        {
            <button class="window-close" @onclick="@(Docked ? (EventCallback<MouseEventArgs>)default : EventCallback.Factory.Create<MouseEventArgs>(this, CloseAsync))">
                &times;
            </button>
        }
    </div>

    <div class="window-content">
        @ChildContent
    </div>

    <div class="window-resizer"
         @onmousedown="@(Docked ? (EventCallback<MouseEventArgs>)default : EventCallback.Factory.Create<MouseEventArgs>(this, StartResize))">
    </div>
</div>