﻿@using DeskUI.Services
@using Microsoft.JSInterop
@inject WindowManager WindowManager
@inject IJSRuntime JSRuntime

<div class="window-host" @onmouseup="OnMouseUp">
    @foreach (var window in WindowManager.Windows)
    {
        <FloatingWindow @key="window.Id"
                        Id="@window.Id"
                        Title="@window.Title"
                        Theme="@Theme"
                        ChildContent="@window.Content"
                        ZIndex="@window.ZIndex"
                        Top="@window.Top"
                        Left="@window.Left"
                        Width="@window.Width"
                        Height="@window.Height"
                        OnCloseRequested="@(() => WindowManager.Close(window.Id))"
                        AllowClose="@window.AllowClose"
                        Overlayed="@window.Overlayed" />
    }
</div>